/* associated to the design.html page */

footer {
    bottom:0;
}

#portfolio {
    margin-top: 200px;
    margin-bottom: 80px;
}

.designPiece {
    min-height: 250px;
    margin-top: 50px;
}


.modal {
    overflow: scroll;
    max-height: 700px;
}

.placeholderLogo {
    background-image: url("../images/placeholder/images_logo_placeholder.png");
    display: inline-block;
    height: 100px;
    width: 100px;
    background-size: cover;
    float: left;
    margin: 20px;
}

.placeholderImage {
    display: inline-block;
    background-image: url("../images/placeholder/images_modal_placeholder.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 530px;
    float: left;
    clear: both;
}

.modal-title {
    display: inline-block;
    font-size: 28px;
    margin: 20px;
}

.close {
    margin: 20px;
}

/* modal icons */






/* design portfolio pieces images */
/* FLIPPN FLOWERS */
.flippnLogo, .flippnLove, .flippnBillboard, .flippnHill, .flippnCare{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 530px;
    float: left;
    clear: both;
}

.flippnLogo {
    background-image: url("../images/design_pieces/branding/flippn_flowers/flippn_logo.png");
}

.flippnLove {
    background-image: url("../images/design_pieces/branding/flippn_flowers/flippn_love.png");
}

.flippnBillboard {
    background-image: url("../images/design_pieces/branding/flippn_flowers/flippn_billboard.png");
}

.flippnHill {
    background-image: url("../images/design_pieces/branding/flippn_flowers/flippn_hill.png");
}

.flippnCare {
    background-image: url("../images/design_pieces/branding/flippn_flowers/flippn_cares.png");
}

/* WAKEY WAKEY */
.wakeyOrangeLogo, .wakeyPeachLogo, .wakeyBrownLogo {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 530px;
    float: left;
    clear: both;
    margin: 0;
}

.wakeyOrangeLogo {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_orange_logo.png");
}

.wakeyPeachLogo {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_peach_logo.png");
}

.wakeyBrownLogo {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_brown_logo.png");
}

.wakeyBC {
    background-size: 80%;
    background-repeat: no-repeat;
    height: 350px;
    float: left;
    clear: both;
    margin-left: 20px;
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_bc.png");
}

.wakeyLetterhead {
    background-size: 80%;
    background-repeat: no-repeat;
    height: 650px;
    float: left;
    clear: both;
    margin-left: 20px;
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_letterhead.png");
}

.wakeyEnvelope {
    background-size: 90%;
    background-repeat: no-repeat;
    height: 250px;
    float: left;
    clear: both;
    margin-left: 20px;
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_envelope.png");
}

.wakeyCartoon{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 340px;
    float: left;
    clear: both;
    margin-left: 25px;
}
.wakeyCup {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
    float: left;
    clear: both;
}
.wakeyLatte, .wakeyMacciatto, .wakeyMocha, .wakeyEspresso  {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 620px;
    float: left;
    clear: both;
}

.wakeyCup {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_cup.png");
}

.wakeyCartoon {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_cartoon.png");
}

.wakeyLatte {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_latte.png");
}

.wakeyMacciatto {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_macciatto.png");
}

.wakeyMocha {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_mocha.png");
}

.wakeyEspresso {
    background-image: url("../images/design_pieces/branding/wakey_wakey/wakey_espresso.png");
}

/* AD CLUB */

/*.adclubLogoDark,. adclubLogoLight {*/

/*}*/

.adclubLogoDark, .adclubLogoLight, .adclubFacebookCover {
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 25px;
    clear: both;
}

.adclubLogoDark {
    background-image: url("../images/design_pieces/branding/ad_club/adclub_logo_dark.png");
}

.adclubLogoLight {
    background-image: url("../images/design_pieces/branding/ad_club/adclub_logo_light.png");
}

.adclubFacebookCover {
    background-image: url("../images/design_pieces/branding/ad_club/adclub_facebook_coverphoto.png");
}

.adclubBilliardsAd {
    background-image: url("../images/design_pieces/branding/ad_club/adclub_billiardsAd.png");
    height: 640px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 25px;
    clear: both;
}