/* associated to the design.html page */

footer {
    bottom:0;
}

#portfolio {
    margin-top: 200px;
    margin-bottom: 80px;
}

.designPiece {
    min-height: 250px;
    margin-top: 50px;
}


.modal {
    overflow: scroll;
    max-height: 700px;
}

.placeholderLogo {
    background-image: url("../images/placeholder/images_logo_placeholder.png");
    display: inline-block;
    height: 100px;
    width: 100px;
    background-size: cover;
    float: left;
    margin: 20px;
}

.placeholderImage {
    display: inline-block;
    background-image: url("../images/placeholder/images_modal_placeholder.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 530px;
    float: left;
    clear: both;
}

.modal-title {
    display: inline-block;
    font-size: 28px;
    margin: 20px;
}

.close {
    margin: 20px;
}

/* design portfolio pieces images */
/* FLIPPN FLOWERS */
.flippnLogo, .flippnVDaySaying, .flippnBillboard {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 530px;
    float: left;
    clear: both;
}

.flippnLogo {
    background-image: url("../images/design_pieces/flippn_flowers/logo.png");
}

.flippnVDaySaying {
    background-image: url("../images/design_pieces/flippn_flowers/vday.png");
}

.flippnBillboard {
    background-image: url("../images/design_pieces/flippn_flowers/billboard.png");
}
