<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Skyler DeGrote's Portfolio Design Page</title>

        <!--styles-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/general.css">
        <link rel="stylesheet" type="text/css" href="../styles/design.css">

        <!--scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/app.js"></script>
        <script type="text/javascript" src="../scripts/design.js"></script>

    </head>
    <body class="fall">
        <header id="navbar">
            <div id="navigation" class="col-xs-12">
                <h4><a href="index.html">Home</a></h4>
                <h4><a href="resume.html">Resume</a></h4>
                <h4><a href="development.html">Development</a></h4>
                <h4><a href="design.html" class="activePage">Design</a></h4>
            </div>

            <a href="https://github.com/skylerdegrote" target="_blank"><div id="github"></div></a>
            <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank"><div id="linkedin"></div></a>
            <a href="https://twitter.com/SDegrote" target="_blank"><div id="twitter"></div></a>
        </header>

    <div id="portfolio" class="container">
            <div class="col-md-3 designPiece back branding" data-toggle="modal" data-target="#brandingModal">
                <h3>Branding</h3>
                <img src="../images/icons/fall_brandingIcon.png" class="col-md-offset-1 col-md-10">
            </div>

            <div class="col-md-3 designPiece back clientCampaigns" data-toggle="modal" data-target="#campaignsModal">
                <h3>Client Campaigns</h3>
                <br><img src="../images/icons/fall_campaignsIcon.png" class="col-md-12">
            </div>

            <div class="col-md-3 designPiece back video" data-toggle="modal" data-target="#illustrationsModal">
                <h3>Illustrations</h3>
                <img src="../images/icons/fall_illustrationsIcon.png" class="col-md-offset-2 col-md-8">

            </div>

            <div class="col-md-3 designPiece back illustrations" data-toggle="modal" data-target="#videoEditingModal">
                <h3>Video Editing</h3>
                <br><img src="../images/icons/fall_videoIcon.png" class="col-md-offset-2 col-md-8">

            </div>
    </div>

        <!-- BRANDING Modal -->
        <div class="container">
            <div class="modal fade" id="brandingModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">Branding</h4>
                        </div>
                        <div class="modal-body row">

                            <div class="container">
                                <ul  class="nav nav-tabs">
                                    <li class="active">
                                        <a  href="#branding1" data-toggle="tab">Flipp'n Flowers</a>
                                    </li>
                                    <li>
                                        <a href="#branding2" data-toggle="tab">Wakey Wakey</a>
                                    </li>
                                    <li>
                                        <a href="#branding3" data-toggle="tab">Advertising Club</a>
                                    </li>
                                </ul>

                                <div class="tab-content clearfix container">
                                    <div class="tab-pane active" id="branding1">
                                        <h2>Flippn Flowers</h2>
                                        <p class="designDescription">
                                            This fictitious company was developed to support a project that required the creation of a multi-medium campaign.
                                            The project was based on a humorous play off of words and I was able to use that throughout the campaign.
                                        </p>
                                        <p class="designDescription">
                                            My role in this project was the designer and the copy-writer. I was the only contributor for the entire project.
                                        </p>
                                        <p class="designDescription">
                                            These ads and illustrations were created in Adobe Illustrator CC and Adobe Photoshop CC.
                                        </p>
                                        <h4>Logo</h4>
                                        <div class="flippnLogo"></div>

                                        <h4>Campaign Piece</h4>
                                        <div class="col-md-6 flippnHill"></div>

                                        <h4>Valentines Day Saying</h4>
                                        <div class="col-md-4 flippnLove"></div>

                                        <h4>Any Day Kindness Saying</h4>
                                        <div class="col-md-5 flippnCare"></div>

                                        <h4>Billboard Ad</h4>
                                        <div class="col-md-5 flippnBillboard"></div>
                                    </div>

                                    <div class="tab-pane" id="branding2">
                                        <h2>Wakey Wakey</h2>
                                        <p class="designDescription">
                                            I’ve always enjoyed drinking coffee and I’ve always wanted to own my own business. I created Wakey Wakey Coffee Shop
                                            while in college as a side project for myself. This was originally a branding exercise for myself to help practice
                                            creating an entire brand behind a company name.
                                        </p>
                                        <p class="designDescription">
                                            The branding pieces and the illustrations for this project were created in Adobe Illustrator CC
                                        </p>
                                        <h4>Logo</h4>
                                        <div class="wakeyOrangeLogo"></div>
                                        <div class="wakeyPeachLogo"></div>
                                        <div class="wakeyBrownLogo"></div>

                                        <h4>Identity Set</h4>
                                        <div class="col-md-6 wakeyLetterhead"></div>
                                        <div class="col-md-6 wakeyEnvelope"></div>
                                        <div class="col-md-6 wakeyBC"></div>

                                        <h4>The Coffee Cup Design</h4>
                                        <div class="col-md-offset-1 col-md-4 wakeyCup"></div>

                                        <h4>The Coffee Shop Cartoon</h4>
                                        <div class="col-md-5 wakeyCartoon"></div>

                                        <h4>The Latte</h4>
                                        <div class="col-md-5 wakeyLatte"></div>

                                        <h4>The Macciatto</h4>
                                        <div class="col-md-5 wakeyMacciatto"></div>

                                        <h4>The Mocha</h4>
                                        <div class="col-md-5 wakeyMocha"></div>

                                        <h4>The Espresso</h4>
                                        <div class="col-md-5 wakeyEspresso"></div>

                                    </div>
                                    <div class="tab-pane" id="branding3">
                                        <h2>MSU Moorhead's Advertising Club</h2>
                                        <p class="designDescription">
                                            I was the Vice President for the Minnesota State University Moorhead Advertising Club
                                            during my last semester of college. The club had been losing interest of the people
                                            on campus so the president and I worked together to create a new brand and a new image for the club.
                                        </p>
                                        <p class="designDescription">
                                            My role for this re-branding project was the designer and planner.  I created the logo, ads and
                                            social media cover photos for events as well as the branding materials.
                                        </p>
                                        <p class="designDescription">
                                            I used Adobe Illustrator CC and Adobe Photoshop CC for the pieces in this project
                                        </p>
                                        <h4>Logo</h4>
                                        <div class="col-md-5 adclubLogoDark"></div>
                                        <div class="col-md-5 adclubLogoLight"></div>

                                        <h4>Billiards Advertisement</h4>
                                        <div class="col-md-5 adclubBilliardsAd"></div>

                                        <h4>Billiards Facebook Cover Photo</h4>
                                        <div class="col-md-5 adclubFacebookCover"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>










                </div>
            </div>
        </div>


        <!-- CAMPAIGNS Modal -->
        <div class="container">
            <div class="modal fade" id="campaignsModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">Client Campaigns</h4>
                        </div>
                        <div class="modal-body row">

                            <div class="container">
                                <ul  class="nav nav-tabs">
                                    <li class="active">
                                        <a  href="#campaigns1" data-toggle="tab">Mary Kay Cosmetics</a>
                                    </li>
                                    <li>
                                        <a href="#campaigns2" data-toggle="tab">RockyBits Software</a>
                                    </li>
                                    <li>
                                        <a href="#campaigns3" data-toggle="tab">The Soul Collection</a>
                                    </li>
                                </ul>

                                <div class="tab-content clearfix container">
                                    <div class="tab-pane active" id="campaigns1">
                                        <h2>Mary Kay</h2>
                                        <p class="designDescription">
                                            Mary Kay was the client for the National Student Advertising Competition 2014.
                                            We were given a task to create an entire campaign to give Mary Kay a new look and
                                            develop interest for the brand for ages 18 to 24 men and women. For this project,
                                            the entire class was given the same project and we were split into different groups.
                                            In the district competition, located at the U of M in Minneapolis, MN, we placed 3rd.
                                        </p>
                                        <p class="designDescription">
                                            My role during this project was a designer. I created advertisements and illustrations
                                            that we used in the campaign. I also developed some pieces that we ended up not using
                                            in the final project.
                                        </p>
                                        <p class="designDescription">
                                            I used Adobe Illustrator CC and Adobe Photoshop CC for the pieces in this project
                                        </p>


                                        <h4>Campaign Logo</h4>
                                        <div class="col-md-5 maryLogo"></div>


                                        <h4>Advertisement 1 of 4</h4>
                                        <div class="col-md-5 maryAd1"></div>


                                        <h4>Advertisement 2 of 4</h4>
                                        <div class="col-md-5 maryAd2"></div>


                                        <h4>Advertisement 3 of 4</h4>
                                        <div class="col-md-5 maryAd3"></div>


                                        <h4>Advertisement 4 of 4</h4>
                                        <div class="col-md-5 maryAd4"></div>


                                        <h4>Tri-fold Flyer</h4>
                                        <div class="col-md-5 maryFlyer"></div>


                                        <h4>Eyeliner Illustration</h4>
                                        <div class="col-md-5 maryEyeliner"></div>


                                        <h4>Mascara Illustration</h4>
                                        <div class="col-md-5 maryMascara"></div>


                                        <h4>Fragrance Illustration</h4>
                                        <div class="col-md-5 maryFragrance"></div>


                                        <h4>Lip Gloss Illustration</h4>
                                        <div class="col-md-5 maryLipgloss"></div>


                                        <h4>Compact Makeup Case Illustration</h4>
                                        <div class="col-md-5 maryCompactCase"></div>


                                        <h4>Skin Care Illustration</h4>
                                        <div class="col-md-5 marySkinCare"></div>

                                    </div>


                                    <div class="tab-pane" id="campaigns2">
                                        <h2>RockyBits Software</h2>
                                        <p class="designDescription">
                                            RockyBits Software was a freelance opportunity where I helped with the branding
                                            process and the web design. This company is a start up software development
                                            company that needed everything from the ground up.
                                        </p>
                                        <p class="designDescription">
                                            My role in this was to assist the owner in the design process for branding
                                            purposes as well as web design options.
                                        </p>
                                        <p class="designDescription">
                                            I used Adobe Illustrator CC for this project.
                                        </p>

                                        <h4>Logo</h4>
                                        <div class="col-md-5 rockyLogoLight"></div>
                                        <div class="col-md-5 rockyLogoDark"></div>


                                        <h4>Identity Set</h4>
                                        <div class="col-md-5 rockyBCFront"></div>
                                        <div class="col-md-5 rockyBCBack"></div>


                                        <h4>Banner Ad</h4>
                                        <div class="col-md-5 rockyBannerAd"></div>


                                    </div>

                                    <div class="tab-pane" id="campaigns3">
                                        <h2>The Soul collection</h2>
                                        <p class="designDescription">
                                            The Soul Collection is a series of three books, which is unfinished at the
                                            moment. I have written both of the books that are out and I also designed
                                            the covers, and wrote the summaries on the back. The series is about a set
                                            of triplets that have been reborn in each generation and have the ongoing
                                            duty of saving the world from evil.
                                        </p>


                                        <h4>Book 1: Soul</h4>
                                        <div class="col-md-5 soulcollectionBook1"></div>
                                        <p class="designDescription">
                                            The thirteenth generation of demon hunters and yet they may be burdened with
                                            the largest responsibility since the very first generation. Their family
                                            history has been filled with ancestors and stories of the infamous triplets
                                            that bring Leadership, Strength, and Witchcraft together to keep the world
                                            from becoming ‘Hell on Earth’. Up until now, only the very first generation
                                            had to face the ultimate demon and their way of handling it imprisoned him
                                            in the dimension of Hell in the 1800’s. Now, in 2011, the current triplets
                                            find themselves needing to either prevent his escape or kill him once and
                                            for all. Will they find the strength, knowledge, and courage to save the
                                            world as their ancestors did so long ago?
                                        </p>

                                        <h4>Book 2: The Guardian of the Souls</h4>
                                        <div class="col-md-5 soulcollectionBook2"></div>
                                        <p class="designDescription">
                                            Julie has disappeared and both Sadie and Kate need to find her, but where
                                            to start and how to find someone that just vanished right in front of their
                                            eyes is unclear. After destroying the devil and publicly announcing the
                                            existence of demons, vampires, and witches, the Sanders Triplets find
                                            themselves now split up. Was she kidnapped or did she go willingly? Day by
                                            Day, Sadie finds herself gaining the powers of a witch.  For 13 generations
                                            there has always only been one witch amongst the triplets, why now does
                                            this generation have two? Does this mean that Julie is dead?
                                        </p>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>










                </div>
            </div>
        </div>


        <!-- ILLUSTRATIONS Modal -->
        <div class="container">
            <div class="modal fade" id="illustrationsModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">Illustrations</h4>
                        </div>
                        <div class="modal-body row">

                            <div class="container">
                                <ul  class="nav nav-tabs">
                                    <li class="active">
                                        <a  href="#illustrations1" data-toggle="tab">Realistic and Cartoon Illustrations</a>
                                    </li>
                                    <li>
                                        <a href="#illustrations2" data-toggle="tab">Scooby Doo Illustrations</a>
                                    </li>

                                </ul>

                                <div class="tab-content clearfix container">
                                    <div class="tab-pane active" id="illustrations1">
                                        <h2>Realistic and Cartoon Illustrations</h2>
                                        <p class="designDescription">
                                            These illustrations were all created with Gradient Mesh using Adobe
                                            Illustrator CS6 or CC, for use within other projects or as side projects.
                                        </p>

                                        <h4>Jim Beam</h4>
                                        <div class="col-md-offset-2 col-md-2 illustrationJimBeam"></div>
                                        <p class="designDescription">
                                            The Jim Beam Bottle was part of the kinetic type video I created for a college project.
                                        </p>

                                        <br>
                                        <h4>Cartoon Town</h4>
                                        <div class="col-md-5 illustrationTown"></div>

                                        <br>
                                        <h4>Castle</h4>
                                        <div class="col-md-5 illistrationCastle"></div>
                                        <p class="designDescription">
                                            The Castle was part of the CADT commercial video that I created for a college project.
                                        </p>

                                        <br>
                                        <h4>Fish Scene</h4>
                                        <div class="col-md-5 illustrationFish"></div>
                                        <p class="designDescription">
                                            The Fish Scene illustration was one of the first Adobe Illustrator
                                            illustrations that I created with the tool Gradient Mesh.
                                        </p>

                                        <br>
                                        <h4>Rose</h4>
                                        <div class="col-md-5 illustrationRose"></div>

                                        <br>
                                        <h4>Multiple Tulips</h4>
                                        <div class="col-md-5 illustrationTulips"></div>

                                        <br>
                                        <h4>A Single Flower</h4>
                                        <div class="col-md-5 illustrationSingleFlower"></div>

                                        <br>
                                        <h4>Theater</h4>
                                        <div class="col-md-5 illustrationTheater"></div>
                                        <p class="designDescription">
                                            The Theater was part of the CADT commercial video that I created for a college project
                                        </p>

                                        <br>
                                        <h4>Computer</h4>
                                        <div class="col-md-5 illustrationComputer"></div>
                                        <p class="designDescription">
                                            The Theater was part of the CADT commercial video that I created for a college project
                                        </p>

                                        <br>
                                        <h4>Halloween</h4>
                                        <div class="col-md-5 illustrationHalloween"></div>
                                        <p class="designDescription">
                                            The Halloween scene is the one exception and was created in Adobe
                                            Photoshop CS6. This project is 5 photos blended together to look like 1
                                        </p>

                                        <br>
                                        <h4>Moon and Sun</h4>
                                        <div class="col-md-2 illustrationMoon"></div>
                                        <div class="col-md-2 illustrationSun"></div>
                                        <p class="designDescription">
                                            The Theater was part of the CADT commercial video that I created for a college project
                                        </p>

                                        <br>
                                        <h4>Pencil</h4>
                                        <div class="col-md-offset-2 col-md-2 illustrationPencil"></div>

                                        <br>
                                        <h4>Street Sign</h4>
                                        <div class="col-md-4 illustrationStreetSign"></div>
                                        <p class="designDescription">
                                            The Street Sign was part of the kinetic type video I created for a college project.
                                        </p>

                                    </div>


                                    <div class="tab-pane" id="illustrations2">
                                        <h2>Scooby Doo Illustrations</h2>
                                        <p class="designDescription">
                                            Disclaimer: These are illustrations created in Adobe Illustrator CC for portfolio purposes only. The drawings were inspired by the Scooby Doo cartoon. </p>
                                        <h4>Scooby Doo Logo</h4>
                                        <div class="col-md-4 scoobyLogo"></div>


                                        <h4>Scooby Doo</h4>
                                        <div class="col-md-offset-1 col-md-4 scoobyFull"></div>
                                        <div class="col-md-offset-1 col-md-3 scoobyHalf"></div>


                                        <h4>Shaggy</h4>
                                        <div class="col-md-offset-1 col-md-3 shaggyFull"></div>
                                        <div class="col-md-offset-1 col-md-4 shaggyHalf"></div>

                                        <h4>Fred</h4>
                                        <div class="col-md-offset-2 col-md-2 fredFull"></div>
                                        <div class="col-md-offset-1 col-md-4 fredHalf"></div>


                                        <h4>Daphne</h4>
                                        <div class="col-md-offset-2 col-md-3 daphneFull"></div>
                                        <div class="col-md-offset-1 col-md-4 daphneHalf"></div>


                                        <h4>Velma</h4>
                                        <div class="col-md-offset-2 col-md-2 velmaFull"></div>
                                        <div class="col-md-offset-1 col-md-4 velmaHalf"></div>


                                        <h4>The Mystery Machine</h4>
                                        <div class="col-md-offset-1 col-md-4 mysteryMachine"></div>


                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>










                </div>
            </div>
        </div>

        <!-- VIDEO EDITING Modal -->
        <div class="container">
            <div class="modal fade" id="videoEditingModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">Video Editing</h4>
                        </div>
                        <div class="modal-body row">

                            <div class="container">
                                <h4>Kinetic Type</h4>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/pYR1zAFOcm8" frameborder="0" allowfullscreen></iframe>
                                <p class="designDescription">
                                    The kinetic type project was my final project for a Graphic Communications classes in college.
                                    I created all of the graphics that are in the video as well as did the video editing.
                                </p>
                                <p class="designDescription">
                                    I used Adobe After Effects CC, Adobe Photoshop CC and Adobe Illustrator CC for the pieces
                                    in this project
                                </p>

                                <h4>CADT Introduction</h4>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/fiVpzcPdFH0" frameborder="0" allowfullscreen></iframe>
                                <p class="designDescription">
                                    The CADT introduction video was created for a small project in my Graphic Communications class.
                                </p>
                                <p class="designDescription">
                                    I did all of the video editing using Adobe After Effects CC
                                </p>


                                <h4>CADT Commercial</h4>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/E2HwJZnU3sI" frameborder="0" allowfullscreen></iframe>
                                <p class="designDescription">
                                    The CADT Commercial was a small group project, done with one other person.
                                    The project was to create a commercial for the new department (Cinema Arts and Digital Technology)
                                    at MSU Moorhead and to include each of new parts of the department.
                                </p>
                                <p class="designDescription">
                                    My role in this project was the creation of most of the illustrations and half of the video editing
                                </p>
                                <p class="designDescription">
                                    The tools used were Adobe After Effects CC and Adobe Illustrator CC as well as Adobe Photoshop CC
                                </p>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>










                </div>
            </div>
        </div>


        <footer><h6>Skyler DeGrote's Portfolio Website 2015</h6></footer>
    </body>
</html>