<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyler DeGrote's Portfolio Development Page</title>

    <!--styles-->

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/development.css">

    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>

    <body class="fall">

        <header id="navbar">
            <div id="navigation" class="col-xs-12">
                <h4><a href="index.html">Home</a></h4>
                <h4><a href="resume.html">Resume</a></h4>
                <h4><a href="development.html" class="activePage">Development</a></h4>
                <h4><a href="design.html">Design</a></h4>
            </div>
            <a href="https://github.com/skylerdegrote" target="_blank"><div id="github"></div></a>
            <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank"><div id="linkedin"></div></a>
            <a href="https://twitter.com/SDegrote" target="_blank"><div id="twitter"></div></a>
        </header>

        <div id="devportfolio" class="container">
            <div class="back" data-toggle="modal" data-target="#rocketResourceModal">
                <section>
                    <div class="col-md-3 back" id="rocketMainPage"></div>
                    <div class="col-md-9 back description">
                        <h3>Rocket Resource Application</h3>
                        <p>This application is primarily directed towards kids. Its purpose is to serve as a resource to families that want to make Model Rocketry a hobby.</p>
                        <p>For this project, I have been a one-woman team. This was my solo project while attending Prime Digital Academy. I will continue to work on it in my spare time.</p>
                        <p>Tools used: • HTML5 • CSS3 • AngularJS • MongoDB • Mongoose • Express.js • Node.js</p>
                        <p>The plan for this project is to continue it in my spare time and work in some more functionality.</p>
                        <div class="col-md-2 col-md-offset-10 popupImg"></div>
                    </div>
                </section>
            </div>

            <div class="back" data-toggle="modal" data-target="#docentEDUModal">
                <section>
                    <div class="col-md-3 back" id="docentMainPage"></div>
                    <div class="col-md-9 back description">
                        <h3>DocentEDU Application</h3>
                        <p>This application was made with the purpose to help teachers grow their classrooms into the tech world we live in. Our client was DocentEDU.</p>
                        <p>For this project, my role was to create the front end user experience for both the main resources page and the admin page.</p>
                        <p>Tools used: • HTML5 • CSS3 • jQuery • MongoDB • Mongoose • Express.js • Node.js • JSON API</p>
                        <p>Our SOW for this project is complete.</p>
                        <div class="col-md-2 col-md-offset-10 popupImg"></div>
                    </div>
                </section>
            </div>

            <div class="back" data-toggle="modal" data-target="#fruitModal">
                <section>
                    <div class="col-md-3 back" id="fruitMainPage"></div>
                    <div class="col-md-9 back description">
                        <h3>Fruit Stand Challenge</h3>
                        <p>This application is primarily directed towards kids. Its purpose is to serve as a resource to families that want to make Model Rocketry a hobby.</p>
                        <p>For this project, I was part of a 5 person team. We all worked on all aspects of the logic and design.</p>
                        <p>Tools used: • HTML5 • CSS3 • JavaScript • jQuery</p>
                        <div class="col-md-2 col-md-offset-10 popupImg"></div>
                    </div>
                </section>
            </div>
        </div>

        <!-- ROCKETS Modal -->
        <div class="container">
            <div class="modal fade" id="rocketResourceModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">Rocket Resource</h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-md-offset-1 col-md-10 container clearfix">
                                <p>The rocket resource application was my personal project at Prime Digital Academy. I chose this subject because as a kid I loved going out with family and launching rockets for fun. This application is directed towards kids in the way of getting them excited about making their own rocket unique.</p>
                                <p>My plan for this application will be to add some functionality. I am going to make the page printable so kids can print their customized rocket and color it. I am going to add a store functionality to make it so you can see what pieces you would need to make your customized rocket for real and where you might be able to purchase those pieces.</p>
                                <h5>The Main Page</h5>
                                <div class="rocketMainPage"></div>
                                <h5>Customize Your Rocket</h5>
                                <div class="rocketCustomized"></div>
                                <h5>Find Out Information About The Pieces</h5>
                                <div class="rocketInfoBox"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <h6>View the Site here: <a href="https://rocket-resource.herokuapp.com/" target="_blank">Rocket Resource Application</a></h6>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- DOCENT MODAL -->
        <div class="container">
            <div class="modal fade" id="docentEDUModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">DocentEDU</h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-md-offset-1 col-md-10 container clearfix">
                                <p>This project was the client-project at Prime Digital Academy. This is my group project at Prime Digital Academy. The client requested that we replace the current Embed Resources page on the DocentEDU website with a solution that both automates the data storage and collection as well as creates a more intuitive user experience</p>
                                <h5>Main Page</h5>
                                <div class="docentMainPage"></div>
                                <h5>The Search Bar</h5>
                                <div class="docentMainSearch"></div>
                                <h5>Drop Down Menus</h5>
                                <div class="docentMainDropDown"></div>
                                <h5>See an Example</h5>
                                <div class="docentMainExampleModal"></div>
                                <h5>Admin Page</h5>
                                <div class="docentAdminPage"></div>
                                <h5>Create a New Resource</h5>
                                <div class="docentAdminNew"></div>
                                <h5>Edit an Existing Resource</h5>
                                <div class="docentAdminEdit"></div>
                                <h5>Delete an Existing Resource</h5>
                                <div class="docentAdminDelete"></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- FRUIT MODAL -->
        <div class="container">
            <div class="modal fade" id="fruitModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header row">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="col-md-7 modal-title">Fruit Stand</h4>
                        </div>
                        <div class="modal-body row">
                            <div class="col-md-offset-1 col-md-10 container clearfix">
                                <p>The Fruit Challenge was a group project at the beginning of Prime Digital Academy. We were faced with the challenge to create a fruit stand that counted how many pieces of fruit you buy, sell and what the average selling prices is.</p>
                                <h5>The Main Page</h5>
                                <div class="fruitMainPage"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<footer><h6>Skyler DeGrote's Portfolio Website 2015</h6></footer>
</body>
</html>