<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyler DeGrote's Portfolio Development Page</title>

    <!--styles-->

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/general.css">
    <link rel="stylesheet" type="text/css" href="../styles/development.css">


    <!--scripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="../scripts/development.js"></script>
</head>
<body>

<header id="navbar">
    <div id="navigation" class="col-xs-12">
        <h4><a href="index.html">Home</a></h4>
        <h4><a href="resume.html">Resume</a></h4>
        <h4><a href="development.html">Development</a></h4>
        <h4><a href="design.html">Design</a></h4>
    </div>

    <a href="https://github.com/skylerdegrote" target="_blank"><div id="github"></div></a>
    <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank"><div id="linkedin"></div></a>
    <a href="https://twitter.com/SDegrote" target="_blank"><div id="twitter"></div></a>
</header>

<div id="devportfolio" class="container">
    <section class="proj1"><div class="col-md-3">project snap shot</div><div class="col-md-9">project description</div></section>
    <section class="proj1"><div class="col-md-3">project snap shot</div><div class="col-md-9">project description</div></section>
</div>


<footer><h6>Skyler DeGrote's Portfolio Website 2015</h6></footer>
</body>
</html>