<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyler DeGrote's Portfolio Resume Page</title>

    <!--styles-->

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/general.css">
    <link rel="stylesheet" type="text/css" href="../styles/resume.css">


    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>
    <script type="text/javascript" src="../scripts/resume.js"></script>
</head>
<body class="fall">
<header id="navbar">
    <div id="navigation" class="col-xs-12">
        <h4><a href="index.html">Home</a></h4>
        <h4><a href="resume.html" class="activePage">Resume</a></h4>
        <h4><a href="development.html">Development</a></h4>
        <h4><a href="design.html">Design</a></h4>
    </div>

    <a href="https://github.com/skylerdegrote" target="_blank"><div id="github"></div></a>
    <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank"><div id="linkedin"></div></a>
    <a href="https://twitter.com/SDegrote" target="_blank"><div id="twitter"></div></a>
</header>


<div id="resume" class="container">
    <section class="col-md-12 back objective">
        <h3>My name is Skyler DeGrote and I am a Full MEAN stack Software Engineer. I have recently graduated from Prime Digital Academy and am seeking a job that focuses primarily on Front End Development. As a front end developer I will also be able to leverage my four year degree in Advertising and Graphic Communications.
            I am a dedicated person with the passion to keep a project going until it's finished. I am a hard working, detail oriented person, often going above and beyond the requirements. I love collaboration and working with others, but also have the mind set to set off on my own to problem solve.</h3>
    </section>


    <section class="col-md-4 back software">
        <h5>software</h5>
    </section>


    <section class="col-md-8 back prime">
        <h5>prime</h5>
    </section>


    <section class="col-md-3 back education">
        <div class="col-md-offset-2 col-md-8"><img src="../images/resume/fall_resume_education_light.png"></div>
        <h4><u>Prime Digital Academy</u></h4>
        <p><b>Prime is an accelerated program for software engineering</b></p>
        <p>Attended: June 1 to October 2</p>
        <br><h4><u>MSU Moorhead</u></h4>
        <p><b>Degree in Advertising and Graphic Communications</b></p>
        <p>Attended: August 2010 to May 2014</p>
        <p>Graduated with Cum Laude</p>
    </section>


    <section class="col-md-5 back contact">
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/skylerdegrote" target="_blank">
                <img src="../images/resume/fall_resume_linkedin_light.png">
                <h6>LinkedIn</h6>
                </a>
            </div>
            <div class="col-md-6">
                <a href="https://twitter.com/SDegrote" target="_blank">
                <img src="../images/resume/fall_resume_twitter_light.png">
                <h6>Twitter</h6>
                </a>
            </div>
            <div class="col-md-6">
                <a href="https://github.com/skylerdegrote" target="_blank">
                <img src="../images/resume/fall_resume_github_light.png">
                <h6>My Github</h6>
                </a>
            </div>
            <div class="col-md-6">
                <a href="mailTo:contact@skylerdegrote.com">
                <img src="../images/resume/fall_resume_email_light.png">
                <h6>Email Me</h6>
                </a>
            </div>
            <div class="col-md-12">
                <a href="../images/resume/2015resume-grey.pdf" target="_blank">
                <img src="../images/resume/fall_resume_download_light.png">
                <h6>Download my Resume</h6>
                </a>
            </div>
        </div>






    </section>

    <section class="col-md-8 back workExperience">

        <div class="col-md-12">
            <div class="col-md-2">
                <div class="col-md-1 workImg"></div>
            </div>
            <div class="col-md-5">
                <h4>Benihana</h4>
                <p>January 2015 to May 2015</p>
                <hr>
            </div>
            <div class="col-md-5">
                <h4>Lifetouch Studio Photography</h4>
                <p>October 2014 to February 2015</p>
                <hr>
            </div>
            <div class="col-md-6">
                <h4>Lifetouch School Photography</h4>
                <p>August 2014 to October 2014</p>
                <hr>
            </div>
            <div class="col-md-6">
                <h4>RockyBits Software</h4>
                <p>May 2014 to September 2014</p>
                <hr>
            </div>
            <div class="col-md-6">
                <h4>MSU Moorhead</h4>
                <p>January 2012 to May 2014</p>
                <hr>
            </div>
            <div class="col-md-6">
                <h4>ATA</h4>
                <p>December 2012 to December 2013</p>
                <hr>
            </div>


        </div>

    </section>


    <section class="col-md-4 back accomplishments">
        <h5>accomplish</h5>
    </section>


    <section class="col-md-4 back extraActivities">
        <h5>extra</h5>
    </section>





</div>





<footer ><h6 class="col-md-offset-4 col-md-4">Skyler DeGrote's Portfolio Website 2015</h6></footer>

</body>
</html>